body{
	font-family: 'Asap', sans-serif;
	color: #555;
    padding-bottom: 40px;
}

a:link { 
	text-decoration: none;
}
a {
	-webkit-transition: 0.2s ease-in-out all;
	-moz-transition: 0.2s ease-in-out all;
	-o-transition: 0.2s ease-in-out all;
	transition: 0.2s ease-in-out all;
}
.clear-margins {
	margin: 0;
}
.clear-paddings {
	padding: 0;
}
.widget-container{
	margin-bottom: 50px;
}
.text-primary {
	color: #ea5644 !important;
}
.text-primary a{
	color: #ea5644 !important;
}
.text-green {
	color: #16a990 !important;
}
.text-blue {
	color: #2196F3 !important;
}
.text-black {
	color: #555 !important;
}
.text-black a{
	color: inherit;
}
.text-black a:hover{
	border-bottom: 1px dotted #ea5644;
}
.height-100{
	min-height: 100vh;
}
.breadcrumb {
	background-color: inherit;
	min-height: 40px;
	line-height: 20px;
	border-radius: 0;
	margin: 0 0 20px 0;
	padding: 5px 0 0 0;
}
.breadcrumb > li {
	font-size: 13px;
	font-weight: 300;
	text-shadow: none;
}
.breadcrumb a {
	color: #ea5644;
}
.gap-above{
	margin-top: 50px;
}
.gap-below-large{
	margin-bottom: 50px;
}
.gap-below-med{
	margin-bottom: 30px;
}
.gap-below{
	margin-bottom: 10px;
}
.gap-above-med{
	margin-top: 30px;
}
.gap-above-small{
	margin-top: 10px;
}
.tiny{
	font-size: 11px;
}
.width-100{
	width: 100%;
}
.lower-case{
	text-transform: lowercase !important;
}

.dnone{
	display: none;
}
.treeview ul li { 
	list-style-type: none; 
	list-style-position:outside;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: left;
	text-indent: -18px;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.05 );
}
.btitle{
    margin-left: 2em;
}
.treeview ul li img{ 
	vertical-align: middle;
}

.treeview ul li a{
	font-family: 'Asap', sans-serif;
	text-decoration: none;
}

.s1{
	letter-spacing: 1px;
}
.s1 a{
	color: #262626;
	font-size: 1em;
}
.s1 a:hover{
	border-bottom: 1px dotted #ea5644;
}
.s2 {
	letter-spacing: 1px;
} 
.s2 a{
	color: #262626;
	font-size: 1em;
}
.s2 a:hover{
	border-bottom: 1px dotted #ea5644;
}
